<!DOCTYPE html>
<html>
  <head>
    <base target="_top">
  </head>
  <body>
    <h1>What would you like to import?</h1>
    <h3>Entity Type</h3>
      <div>
        <select name="entityType">
          <option value="people" selected>People</option>
          <option value="companies">Companies</option>
          <option value="leads">Leads</option>
          <option value="opportunities">Opportunity</option>
          <option value="projects">Projects</option>
          <option value="tasks">Tasks</option>
        </select>
      </div>
    <h3>Offset</h3>
    <div>
      <input type="text" name="offset" value=0>
    </div>

    <button onclick="startImport()">
      Import
    </button>

    <input type="button" value="Close" onclick="google.script.host.close()" />


    <script type="text/javascript">
      function startImport() {
        var entityType = document.getElementsByName('entityType')[0].value;
        var offset = document.getElementsByName('offset')[0].value;

        // TODO: Validate!
        offset = Math.max(offset, 0);

        google.script.run
          .withSuccessHandler(onSuccess)
          .withFailureHandler(onFailure)
          .import(entityType, offset);
      }

      // handleResponse()

      function onSuccess() {
        alert('Success!');
        console.info(`Request succeeded with arguments`, arguments);
      }
      function onFailure() {
        alert('Failure!');
        console.error(`Request failed with arguments`, arguments);
      }
    </script>
  </body>
</html>